<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Añadir Auto</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row flex-column align-items-center">
                <div class="col-12 d-flex justify-content-between">
                    <h1>Poner autos en venta:</h1>
                    <div class="d-flex">
                        <form  action="/dashboard" methods="GET" class="me-2">
                            <button type="submit" class="btn btn-info">
                                Home
                            </button>
                        </form>
                        <form action="/logout" method="POST">
                            <button type="submit" class="btn btn-danger">
                                Logout
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <form action="/crear/auto" method="POST"> 
                            <div class="mb-3">
                                <label for="precio" class="form-label">Precio:</label>
                                <input class="form-control" type="number" id="precio" name="precio">
                                {% for mensaje in get_flashed_messages(category_filter = ['error_precio']):%}
                                <div class="alert alert-danger">
                                    {{mensaje}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label for="modelo" class="form-label">Modelo</label>
                                <input class="form-control mb-3" id="modelo" name="modelo">
                                {% for mensaje in get_flashed_messages(category_filter = ['error_modelo']):%}
                                <div class="alert alert-danger">
                                    {{mensaje}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label for="marca" class="form-label">Marca</label>
                                <input class="form-control mb-3" id="marca" name="marca">
                                {% for mensaje in get_flashed_messages(category_filter = ['error_marca']):%}
                                <div class="alert alert-danger">
                                    {{mensaje}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label for="año" class="form-label">Año:</label>
                                <input class="form-control" type="number" id="año" name="año" min="1885" max="2099" step="1">
                                {% for mensaje in get_flashed_messages(category_filter = ['error_año']):%}
                                <div class="alert alert-danger">
                                    {{mensaje}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label for="descripcion" class="form-label">Descripcion</label>
                                <textarea class="form-control" type="text" id="descipcion" name="descripcion"></textarea>
                                {% for mensaje in get_flashed_messages(category_filter = ['error_descripcion']):%}
                                <div class="alert alert-danger">
                                    {{mensaje}}
                                </div>
                                {% endfor %}
                            </div>
                            <button type="submit" class="btn btn-success">
                                Añadir
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>  
    </body>
</html>